#triangle-container {
    position: relative;
    width: 100px; /* Atur lebar */
    height: 100px; /* Atur tinggi */
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid black; /* Warna segitiga */
    position: absolute;
    top: -100px; /* Mulai dari luar layar */
    left: 25px; /* Atur posisi horizontal */
    animation: fall 3s infinite; /* Durasi dan pengulangan animasi */
}

@keyframes fall {
    0% { top: -100px; }
    25% { top: 50px; }
    50% { top: 100px; left: 0; }
    75% { top: 100px; left: 50px; }
    100% { top: -100px; }
}
