*{
	box-sizing: border-box;
}

body {
	background: #111;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

.gallery {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.gallery ul.card {
  list-style: none; /* Menghilangkan bullet list */
  padding: 0;
  display: flex; /* Menyusun item secara horizontal */
  transition: transform 0.5s ease; /* Efek bergeser */
}

.gallery ul.card li {
  background: #fff; /* Warna latar belakang untuk kartu */
  color: #333; /* Warna teks */
  margin-right: 10px; /* Jarak antar kartu */
  min-width: 100px; /* Lebar minimal untuk setiap kartu */
  height: 150px; /* Tinggi untuk setiap kartu */
  display: flex; /* Untuk mengatur konten di tengah */
  align-items: center; /* Menengahkan konten secara vertikal */
  justify-content: center; /* Menengahkan konten secara horizontal */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Bayangan pada kartu */
  border-radius: 5px; /* Sudut bulat pada kartu */
}
